html {
	text-size-adjust: 100%;
	color: #000000;
}
body {
	margin: 0px;
	font-weight: 300;
	background: #ffffff;
}
a:link {
text-decoration: none;
}
a:visited {
text-decoration: none;
}
a:hover {
text-decoration: underline;
}
a:active {
text-decoration: underline;
}
p {
	padding: 2px;
}
hr {
	border: 1px solid #363333;
	width: 30vw;
}
.container {
	display: grid;
	grid-template-columns: repeat(1, 100%);
}
.inner-box {
	min-height: 100vh;
    align-content: center;
    text-align: center;
}
.logo {
    width: min(60vw, 2048px);
}
.main-header {
	font-size: 400%;
	height: auto;
	padding-top: 2vh;
}
.main-text {
	font-size: 200%;
	height: auto;
	padding-top: 2vh;
}
nav {
    display: block;
}
#cards {
    display: table;
    margin: 0px;
    padding: 0px;
    border-spacing: 30px;
}
#cards>li {
    display: table-cell;
}
.mini-box {
    width: 320px;
}
.card-box {
    position: relative;
    padding: 20px;
    min-height: 250px;
}
.hand {
	cursor: pointer;
	cursor: hand;
}
@media (max-width: 767px) {
	body {
		font-size: 100%;
	}
	.main-header {
		font-size: 300%;
	}
	.main-text {
		font-size: 150%;
	}
	.line-text {
		font-size: 120%;
	}
}

@media (min-width: 980px) {
	body {
		font-size: 100%;
	}
	.main-header {
		font-size: 400%;
	}
	.main-text {
		font-size: 200%;
	}
	.line-text {
		font-size: 140%;
	}
}
